<p id="notice"><%= notice %></p>

<h1>Cookbooks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cookbooks.each do |cookbook| %>
      <tr>
        <td><%= cookbook.title %></td>
        <td><%= cookbook.content %></td>
        <td><%= link_to 'Show', cookbook_path(cookbook.id) %></td>
        <td><%= link_to 'Edit', edit_cookbook_path(cookbook.id) %></td>
        <td><%= link_to 'Destroy', cookbook_path(cookbook.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cookbook', new_cookbook_path %>
