<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cookbook.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @cookbook.content %>
</p>

<%= link_to 'Edit', edit_cookbook_path(@cookbook) %> |
<%= link_to 'Back', cookbooks_path %>
